body{
  background: #FCFCFC;
}

main{
  margin-top: 95px;
  
  .inner{
    margin: 0 auto;
    width: 1200px;

    h2.product-container-title{
      color: var(--secondary-color-900);
      font-size: 20px;
      font-weight: 700;
      line-height: 32px;
    }

    .product-container{
      margin: 16px 0 40px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      column-gap: 24px;
      row-gap: 40px;
    }
  }
}